{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet'  type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">



    <link rel="stylesheet" href="{% static 'css/readings.css' %}">

    <meta charset="UTF-8">
    <title>Reviews list</title>
</head>

<body>
    <div class="page-header">
        <div class="container">
            <img src="{% static 'images/books_flat.jpg' %}" alt="My image" width="300" height="100" />
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="{% url 'readings:review_list' %}"><span class="glyphicon glyphicon-home"></span> Readings </a></li>
              <li><a href="{% url 'readings:review_new' %}"> <span class="glyphicon glyphicon-pencil"></span> Add a New Reading  </a></li>
              <li><a href="{% url 'readings:book_new' %}" >  <span class="glyphicon glyphicon-book"></span> Add a New Book</a></li>
              <!--<li><a href="{% url 'readings:book_new' %}" >  <span class="glyphicon glyphicon-men"></span> Add a New Artist</a></li>-->

            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add New Items <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="{% url 'readings:review_new' %}">Add new Reading </a></li>-->
                <!--<li><a href="{% url 'readings:review_new' %}">Add new Reading </a></li>-->
                <!--<li><a href="{% url 'readings:review_new' %}">Add new Reading </a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="{% url 'readings:review_new' %}">Add new Reading </a></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <!--<li><a href="#">One more separated link</a></li>-->
              <!--</ul>-->
            <!--</li>-->
          </ul>

          <!--<form class="navbar-form navbar-left">-->
            <!--<div class="form-group">-->
              <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
          <!--</form>-->

          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li class="my_top_navbar"><a><b>{{request.user.username}}</b></a></li>
              <li><a href="{% url 'logout' %}">log out</a></li>

              {% else %}
              <li class="my_top_navbar"><a href="{% url 'login' %}"><b>log in</b></a></li>
              {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


    {% block title%}
    {% endblock %}

    <div class="sub-header">
        {% block sub_title%}
        {% endblock %}
    </div>


    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


</body>
</html>

