{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--for proper rendering and touch zooming-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled and minified CSS -->
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet'  type='text/css'>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->


    <link rel="stylesheet" href="{% static 'css/readings.css' %}">


    <title>Log-Book</title>
</head>

<body>
    <div class="page-header">
        <div class="container">
            <img class="img-responsive" src="{% static 'images/books_flat.jpg' %}" alt="My image" width="300" height="100" />
        </div>
    </div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'readings:index' %}">
                    <span class="glyphicon glyphicon-home"></span>LogBook</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <!--<li><a href="{% url 'readings:index' %}"><span class="glyphicon glyphicon-home"></span> Home </a></li>-->
                  <li><a href="{% url 'readings:review_list' %}"><span class="glyphicon glyphicon-text-background"></span> Readings </a></li>
                  <li><a href="{% url 'readings:book_list' %}"><span class="glyphicon glyphicon-book"></span> Books </a></li>
                  <li><a href="{% url 'readings:review_new' %}"> <span class="glyphicon glyphicon-plus"></span> Add a New Reading  </a></li>
                  <li><a href="{% url 'readings:book_new' %}" >  <span class="glyphicon glyphicon-plus"></span> Add a New Book</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li ><a><span class="glyphicon glyphicon-user"></span>
                            {{request.user.username}}</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>
                        Logout</a></li>
                    {% else %}
                    <li ><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>
                        Login</a></li>
                    {% endif %}
                </ul>


            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="content container">
        {% block title %}
        {% endblock %}

        <div class="sub-header">
            {% block sub_title%}
            {% endblock %}
        </div>

        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>

<!--base-->