{% extends 'readings/base.html' %}
{% load staticfiles %}

{% block title%}
    <h1> Log  Book </h1>
    <hr>
{% endblock %}


{% block sub_title %}
    <!--<h2 class="sub-title">latest reviews</h2>-->
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <div class="sub-header">
            <!--<hr />-->
            <h2 class="sub-title">Latest reviews</h2>
            <hr />
        </div>
      {% for review in reviews %}
        <div class="well">
            <div class="row">
                <div class="col-sm-9">
                    <div class="review">
                        <h3><a href="{% url 'readings:book_detail' review.book.id %}">{{ review.book.name }}</a></h3>
                        <h4>Read by: <b> {{ review.reviewed_by.username }} </b> who {{ review.text_rating }} </h4>
                        <h4>Wrriten by: <a href="{% url 'readings:review_detail' review.id %}">{{ review.book.author }}</a></h4>
                        {% if  review.book.illustrator %}
                            <h4>Illustrated by: <a href="{% url 'readings:review_detail' review.id %}">{{ review.book.illustrator }}</a></h4>
                        {% endif %}
                        <div class="date">
                            <p>published on: {{review.published_date }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="img-rounded" >
                        <img class="img-responsive" src="{% static 'images/cover_The_Secret_Garden_1911.jpg' %}" alt="cover" style="width:100%"  />
                    </div>
                </div>
            <!--width="300" height="100"-->
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <p style = "color:blue"> <a href="{% url 'readings:review_detail' review.id %}">
                                  {{ review.body|linebreaksbr|truncatechars:300 }}</a></p>
                  <hr>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



    <div class="col-sm-6">
        <div class="sub-header">
            <!--<hr />-->
            <h2 class="sub-title">Latest Books</h2>
            <hr />
        </div>
        {% for book in books %}
        <div class="well">
            <div class="row">
                <div class="col-sm-9">
                    <div class="review">
                    <h3><a href="{% url 'readings:book_detail' book.id %}">{{ book.name }}</a></h3>
                    <h4>Wrriten by: <a href="{% url 'readings:book_detail' book.id %}">{{ book.author }}</a></h4>
                    {% if  book.illustrator %}
                        <h4>Illustrated by: <a href="{% url 'readings:book_detail' book.id %}">{{ book.illustrator }}</a></h4>
                    {% else %}
                        <!--<br>-->
                    {% endif %}

                    {% if  book.publisher %}
                        <h4>Published by: <a href="{% url 'readings:book_detail' book.id %}">{{ book.publisher }}</a></h4>
                    {% else %}
                        <!--<br>-->
                    {% endif %}
                    <h4>Added by: <b> {{ book.added_by.username }} </b>  </h4>
                    <div class="date">
                        <p>added on: {{book.adding_date}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="img-rounded" >
                    <img class="img-responsive" src="{% static 'images/cover_The_Secret_Garden_1911.jpg' %}" alt="cover" style="width:100%"  />
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
              <hr>
          </div>
        </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
