h1   {
    color: #000999;
    padding-left:30px
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.page-header {  

    background-color: #000000;
    margin-top: 20;
    padding: 20px 20px 20px 20px;
    padding-left:30px
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active .page-header a {
    color: aqua;
    font-size: 36pt;
    text-decoration: none;
}

.sub-header h2 {
    color: black;
    font-size: 25 pt;
    text-decoration: none;
    font-family: 'Libre Baskerville', cursive;

}

.sub-title {  
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 18pt;
    padding: 0px 0px 0px 20px;
    margin-left: 0px;
    padding-left:30px
}

#sub_title h2, #sub_title h3, #sub_title a
 {
    display: inline;
    vertical-align: top;
/*    font-family: 'Open Sans', sans-serif;*/
    font-size: 18px;
    line-height: 28px;
}


.content {
    padding: 0px 0px 0px 0px;
    padding-left: 30px;
    margin-left:    0px;
}


.date {
    color: #828282;
    margin-left:10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 30px;

}

.review {
    margin-bottom: 60px;
}

.review h1 a, .review h1 a:visited {
    color: #000000;
}

    
.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 36px;
    color: #000000;
}

.bottomright {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 30px;
    transform: translate(125%, 125%);
    color: #000000;
}

.center {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    font-size: 136px;
}


.right {
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translate(200%, 0%);
    font-size: 36px;
}


img { 
    width: 100%;
    height: auto;
    opacity: 0.8;
}


.my_top_navbar{
    text-align: bottom  ;
    color: cornflowerblue;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.navbar-nav > li > a {
   line-height: 20px;
}