
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    height: 30px;
}

h1,h3   {
    color: #000999;
    padding-left:30px;
/*    color: midnightblue;*/
}

.page-header {  
    background-color: #000000;
    margin-top: -20;
    padding: 20px 20px 20px 20px;
    padding-left:30px;

}
  
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active .page-header a {
    font-size: 30pt;
    margin-top: 0;
    text-decoration: none;
    background-color: white;
    height: 30px;
}


.sub-header h2 {
    color: darkseagreen;
    font-size: 26 pt;
    text-decoration: none;
/*    font-family: 'Libre Baskerville', cursive;*/
    font-family: 'Lobster', cursive;
    padding-left:0px;


}

.sub-title {  
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
/*    font-size: 18pt;*/
    padding: 0px 0px 0px 20px;
    margin-left: 0px;
    padding-left:0px
}

.title-cont h2 {
    font-size   : 18pt;
    margin-left: 20px;
/*    text-align: center;*/
    display: inline;
/*    float: left;*/
    padding: 10px 0px 0px 0px;


/*    vertical-align: bottom;*/
    
        
}
.content {
    padding: 0px 0px 0px 0px;
    padding-left: 30px;
    margin-left:    0px;
}


.date {
    color: #828282;
    margin-left:10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 10px;

}

.review {
    margin-bottom: 60px;
}

.review h1 a, .review h1 a:visited {
    color: #000000;
}

    
.container {
    position: relative;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 36px;
    color: #000000;
}

.bottomright {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 30px;
    transform: translate(125%, 125%);
    color: #000000;
}

.center {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    font-size: 136px;
}


.right {
    position: absolute;
    top: 25%;
    left: 60%;
    transform: translate(200%, 0%);
    font-size: 36px;
}


img { 
    width: 100%;
    height: auto;
    opacity: 0.8;
    color:darkslategrey

}





